/*
   El valor border-box en el box-sizing hace que el padding y el border pasen a formar parte
   del cálculo del ancho de la caja.
 */

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
root {
    font-size: 40px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
    /* font-size: 16px; */
    color: #00cfff;
    background: black;
    font-family: 'Lilita One', cursive;
    text-align: center;
    margin: 0 auto;
    top: 50%;

    width: 100vw;
    height: 100vw;
    position: fixed;
    /* animation: 5s animation-text ease-out infinite; */
}

h1 {
    font-size: 3em;
    color: #ff2571;
}

.div-padre {
    font-size: 14px;
    color: #ff7235;
}

.div-hijo-em {
    font-size: 1em;
    color: #ff8f5f;
}

.div-rem {
    font-size: 1rem;
    color: #00ff76;
}


@keyframes animation-text {
    0% {
        top: 100%;
        opacity: 0;
    }

    100%{
        top:50%
        opacity: 1;
    }
}
